global.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/LunacidAP/FileContentIndex/2d74c987-2522-4900-accf-353c851df820.vsidx
.vs/LunacidAP/FileContentIndex/37ada98a-29bf-4a13-b394-05d6b61de69b.vsidx
.vs/LunacidAP/FileContentIndex/759fe4df-bf5e-4557-aa0a-58c1d5380294.vsidx
.vs/LunacidAP/FileContentIndex/e47bf6a0-61b6-4a49-a62f-f1e6a724497e.vsidx
.vs/LunacidAP/FileContentIndex/fe11f2b9-df5e-4312-a693-0505b45d8965.vsidx
.vs/LunacidAP/v17/.wsuo
.vscode/tasks.json
bin/Debug/netstandard2.0/Assembly-CSharp-firstpass.dll
bin/Debug/netstandard2.0/Assembly-CSharp.dll
bin/Debug/netstandard2.0/LunacidAP.deps.json
bin/Debug/netstandard2.0/LunacidAP.dll
bin/Debug/netstandard2.0/LunacidAP.pdb
bin/Debug/netstandard2.0/NavMeshComponents.dll
bin/Debug/netstandard2.0/Unity.InputSystem.dll
bin/Debug/netstandard2.0/Unity.Postprocessing.Runtime.dll
bin/Debug/netstandard2.0/Unity.TextMeshPro.dll
bin/Debug/netstandard2.0/UnityEngine.UI.dll
obj/LunacidAP.csproj.nuget.dgspec.json
obj/LunacidAP.csproj.nuget.g.props
obj/LunacidAP.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Debug/netstandard2.0/LunacidAP.AssemblyInfo.cs
obj/Debug/netstandard2.0/LunacidAP.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/LunacidAP.assets.cache
obj/Debug/netstandard2.0/LunacidAP.csproj.AssemblyReference.cache
obj/Debug/netstandard2.0/LunacidAP.csproj.CopyComplete
obj/Debug/netstandard2.0/LunacidAP.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/LunacidAP.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/LunacidAP.dll
obj/Debug/netstandard2.0/LunacidAP.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netstandard2.0/LunacidAP.pdb
NuGet.Config
LunacidClient.sln
obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Release/netstandard2.0/LunacidAP.AssemblyInfo.cs
obj/Release/netstandard2.0/LunacidAP.AssemblyInfoInputs.cache
obj/Release/netstandard2.0/LunacidAP.assets.cache
obj/Release/netstandard2.0/LunacidAP.csproj.AssemblyReference.cache
obj/Release/netstandard2.0/LunacidAP.GeneratedMSBuildEditorConfig.editorconfig
